
<div style="
  {% if block.settings.background and block.settings.corner_radius %}
    border: 1px solid transparent;
    border-radius: {{ block.settings.corner_radius }}px;

    background:
      linear-gradient(
        {{ block.settings.bg_base_color }},
        {{ block.settings.bg_base_color }}
      ) padding-box,

      linear-gradient(
        {{ block.settings.gradient_angle }}deg,
        {{ block.settings.gradient_color_1 }} {{ block.settings.gradient_stop_1 }}%,
        {{ block.settings.gradient_color_2 }} {{ block.settings.gradient_stop_2 }}%,
        {{ block.settings.gradient_color_3 }} {{ block.settings.gradient_stop_3 }}%
      ) border-box;
  {% endif %}

  padding-top: {{ block.settings.padding-block-start }}px;
  padding-bottom: {{ block.settings.padding-block-end }}px;
  padding-left: {{ block.settings.padding-inline-start }}px;
  padding-right: {{ block.settings.padding-inline-end }}px;
  ">
  {% if block.settings.icon != blank %}
    <img
      src="{{ block.settings.icon | image_url: width: block.settings.icon_width }}"
      alt="{{ block.settings.icon.alt | escape }}"
      width="{{ block.settings.icon_width }}"
      height="auto"
      style="width: {{ block.settings.icon_width }}px; height: auto;"
      loading="lazy"
    >
  {% endif %}
  
    <p style="
      color: {{ block.settings.font_color }};
      font-weight: {{ block.settings.font_weight }};
      font-size: {{ block.settings.font_size }};
      text-transform: {{ block.settings.case }};
      ">
    {{ block.settings.text }}
    </p>
</div>

{% schema %}
{
  "name": "Icon with Text",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "Icon"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "range",
      "id": "icon_width",
      "label": "Icon Width",
      "min": 16,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 32
    },
    {
      "type": "header",
      "content": "t:content.typography"
    },
    {
      "type": "text",
      "id": "text",
      "label": "t:settings.text",
      "default": "t:html_defaults.share_information_about_your"
    },
    {
      "type": "color",
      "id": "font_color",
      "label": "Font Color",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "font_weight",
      "label": "Font Weight",
      "options": [
        {
          "value": "100",
          "label": "100"
        },
        {
          "value": "200",
          "label": "200"
        },
        {
          "value": "300",
          "label": "300"
        },
        {
          "value": "400",
          "label": "400"
        },
        {
          "value": "500",
          "label": "500"
        },
        {
          "value": "600",
          "label": "600"
        },
        {
          "value": "700",
          "label": "700"
        },
        {
          "value": "800",
          "label": "800"
        },
        {
          "value": "900",
          "label": "900"
        },
      ],
      "default": "400"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:settings.size",
      "options": [
        {
          "value": "",
          "label": "t:options.default"
        },
        {
          "value": "0.625rem",
          "label": "10px"
        },
        {
          "value": "0.75rem",
          "label": "12px"
        },
        {
          "value": "0.875rem",
          "label": "14px"
        },
        {
          "value": "1rem",
          "label": "16px"
        },
        {
          "value": "1.125rem",
          "label": "18px"
        },
        {
          "value": "1.25rem",
          "label": "20px"
        },
        {
          "value": "1.5rem",
          "label": "24px"
        },
        {
          "value": "2rem",
          "label": "32px"
        },
        {
          "value": "2.5rem",
          "label": "40px"
        },
        {
          "value": "3rem",
          "label": "48px"
        },
        {
          "value": "3.5rem",
          "label": "56px"
        },
        {
          "value": "4.5rem",
          "label": "72px"
        },
        {
          "value": "5.5rem",
          "label": "88px"
        },
        {
          "value": "7.5rem",
          "label": "120px"
        },
        {
          "value": "9.5rem",
          "label": "152px"
        },
        {
          "value": "11.5rem",
          "label": "184px"
        }
      ],
      "default": "1rem"
    },
    {
      "type": "select",
      "id": "case",
      "label": "t:settings.case",
      "options": [
        {
          "value": "none",
          "label": "t:options.default"
        },
        {
          "value": "uppercase",
          "label": "t:options.uppercase"
        }
      ],
      "default": "none"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "checkbox",
      "id": "background",
      "label": "t:settings.background",
      "default": false
    },
    {
      "type": "color",
      "id": "bg_base_color",
      "label": "Background Base Color",
      "default": "#37365D",
      "visible_if": "{{ block.settings.background }}"
    },
    {
      "type": "range",
      "id": "gradient_angle",
      "label": "Gradient Angle",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "°",
      "default": 59,
      "visible_if": "{{ block.settings.background }}"
    },
    {
      "type": "color",
      "id": "gradient_color_1",
      "label": "Gradient Color 1",
      "default": "#FFFFFF",
      "visible_if": "{{ block.settings.background }}"
    },
    {
      "type": "range",
      "id": "gradient_stop_1",
      "label": "Gradient Stop 1",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 0,
      "visible_if": "{{ block.settings.background }}"
    },
    {
      "type": "color",
      "id": "gradient_color_2",
      "label": "Gradient Color 2",
      "default": "#FFFFFF",
      "visible_if": "{{ block.settings.background }}"
    },
    {
      "type": "range",
      "id": "gradient_stop_2",
      "label": "Gradient Stop 2",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 25,
      "visible_if": "{{ block.settings.background }}"
    },
    {
      "type": "color",
      "id": "gradient_color_3",
      "label": "Gradient Color 3",
      "default": "#C6973D",
      "visible_if": "{{ block.settings.background }}"
    },
    {
      "type": "range",
      "id": "gradient_stop_3",
      "label": "Gradient Stop 3",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.background }}"
    },
    {
      "type": "range",
      "id": "corner_radius",
      "label": "t:settings.corner_radius",
      "default": 0,
      "min": 0,
      "max": 50,
      "step": 1,
      "visible_if": "{{ block.settings.background }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Icon with Text",
      "category": "t:categories.basic",
      "settings": {
        "text": "<p>We make things that work better and last longer. Our products solve real problems with clean design and honest materials.</p>"
      }
    }
  ]
}
{% endschema %}
