<section 
  class="cwgp-resizable-cards
  {% unless section.settings.show_mobile %} hide-mobile{% endunless %}
  {% unless section.settings.show_desktop %} hide-desktop{% endunless %}"
  style="
    background-color: {{ section.settings.section_bg_color }};
    padding-top: {{ section.settings.padding-block-start }}px;
    padding-bottom: {{ section.settings.padding-block-end }}px;
    padding-left: {{ section.settings.padding-block-left }}px;
    padding-right: {{ section.settings.padding-block-right }}px;
  "
>

  <div class="cwgp-container" style="max-width: {{ section.settings.section_max_width }}px; margin: 0 auto;">

    <div 
    class="cwgp-resizable-cards-grid"
    style="
        flex-direction: {{ section.settings.cards_direction }};
        flex-wrap: {% if section.settings.cards_direction == 'row' %}nowrap{% else %}wrap{% endif %};
    "
    >

    {% for block in section.blocks %}
        {% case block.type %}

        {% when 'card' %}
            <div 
            class="cwgp-card"
            {{ block.shopify_attributes }}
            style="
                flex: 0 1 {{ block.settings.card_width }}%;
                background-color: {{ block.settings.card_bg_color }};
                text-align: {{ block.settings.text_alignment }};
            "
            >

            <div 
                class="cwgp-card-inner"
                style="flex-direction: {{ block.settings.card_direction }};"
            >

                {% if block.settings.card_icon != blank %}
                <div class="cwgp-card-icon">
                    <img 
                    src="{{ block.settings.card_icon | image_url }}"
                    style="width: {{ block.settings.icon_width }}px;"
                    alt="icon"
                    >
                </div>
                {% endif %}

                <div class="cwgp-card-content">

                {% if block.settings.card_heading != blank %}
                <h3 
                    class="cwgp-card-heading"
                    style="
                    color: {{ block.settings.heading_color }};
                    font-size: {{ block.settings.heading_size }}px;
                    font-weight: {{ block.settings.card_heading_font_weight }};
                    "
                >
                    {{ block.settings.card_heading }}
                </h3>
                {% endif %}

                {% if block.settings.card_description != blank %}
                <p 
                    class="cwgp-card-description"
                    style="
                    color: {{ block.settings.description_color }};
                    font-size: {{ block.settings.description_size }}px;
                    font-weight: {{ block.settings.card_description_font_weight }};
                    "
                >
                  
                    {{ block.settings.card_description }}
                </p>
                {% endif %}

                </div>


            </div>

            {% if block.settings.card_link != blank %}
                    <a href="{{ block.settings.card_link }}" class="{{ block.settings.card_link }}" style="display: flex; gap: 4px; align-items: center; justify-content: flex-end;">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5 12H19M19 12L12 5M19 12L12 19" stroke="#C6973D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </a>
                {% endif %}

            </div>

            {% when 'text_column' %}

                <div 
                class="cwgp-text-column"
                {{ block.shopify_attributes }}
                style="
                    flex: 0 1 {{ block.settings.column_width }}%;
                "
                >

                {% if block.settings.heading != blank %}
                <h2 
                    class="cwgp-text-heading"
                    style="
                    color: {{ block.settings.heading_color }};
                    font-size: {{ block.settings.heading_size }}px;
                    font-weight: {{ block.settings.text_column_heading_font_weight }};
                    "
                >
                    {{ block.settings.heading }}
                </h2>
                {% endif %}

                {% if block.settings.description != blank %}
                <div 
                    class="cwgp-text-description"
                    style="
                    color: {{ block.settings.description_color }};
                    font-size: {{ block.settings.description_size }}px;
                    font-weight: {{ block.settings.text_column_description_font_weight }};
                    "
                >
                    {{ block.settings.description }}
                </div>
                {% endif %}

                </div>

            {% when 'link_list' %}
            
            <div class="parent-link-list" {{ block.shopify_attributes }} style="flex: 0 1 {{ block.settings.column_width }}%;">
              <div 
                class="cwgp-link-list"
                style="
                    background-color: {{ block.settings.bg_color }};
                "
              >

                {% if block.settings.title != blank %}
                  <h3 
                      class="cwgp-link-list-title"
                      style="
                      color: {{ block.settings.title_color }};
                      font-size: {{ block.settings.title_size }}px;
                      "
                  >
                      {{ block.settings.title }}
                  </h3>
                {% endif %}

                <ul class="cwgp-links">

                    {% for i in (1..5) %}

                    {% assign link_key = 'link_' | append: i %}
                    {% assign text_key = 'link_text_' | append: i %}

                    {% if block.settings[text_key] != blank and block.settings[link_key] != blank %}
                    <li> 
                        <a 
                        href="{{ block.settings[link_key] }}"
                        style="
                            color: {{ block.settings.link_color }};
                            font-size: {{ block.settings.link_size }}px;
                            display: flex;
                            align-items: center;
                            gap: 6px;
                        "
                        > 
                        <span style="font-size: 24px;">></span>
                        {{ block.settings[text_key] }}
                        </a>
                    </li>
                    {% endif %}

                    {% endfor %}

                </ul>
              </div>
              
              <div class="cwgp-socials-list"
              style="background-color: {{ block.settings.social_bg_color }};">
                <h6
                  style="
                    font-weight: {{ block.settings.social_text_font_weight }};
                    font-size: {{ block.settings.text_size }}px;
                    color: {{ block.settings.text_color }};
                    text-transform: none;
                    margin: 0;
                  ">{{ block.settings.social_text }}</h6>
                <div class="icons-list">
                  {% if block.settings.linkedIn_url %}
                    <a href="{{ block.settings.linkedIn_url }}">
                      <svg fill="#ffffff" width="18px" height="18px" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M478.234 600.75V1920H.036V600.75h478.198Zm720.853-2.438v77.737c69.807-45.056 150.308-71.249 272.38-71.249 397.577 0 448.521 308.666 448.521 577.562v737.602h-480.6v-700.836c0-117.867-42.173-140.215-120.15-140.215-74.134 0-120.151 23.55-120.151 140.215v700.836h-480.6V598.312h480.6ZM239.099 0c131.925 0 239.099 107.294 239.099 239.099s-107.174 239.099-239.1 239.099C107.295 478.198 0 370.904 0 239.098 0 107.295 107.294 0 239.099 0Z" fill-rule="evenodd"></path> </g></svg>                    
                    </a>
                  {% endif %}

                  {% if block.settings.twitter_url %}
                    <a href="{{ block.settings.twitter_url }}">
                      <svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 30 30">
                        <path d="M26.37,26l-8.795-12.822l0.015,0.012L25.52,4h-2.65l-6.46,7.48L11.28,4H4.33l8.211,11.971L12.54,15.97L3.88,26h2.65 l7.182-8.322L19.42,26H26.37z M10.23,6l12.34,18h-2.1L8.12,6H10.23z"></path>
                      </svg>
                    </a>
                  {% endif %}

                  
                    <a href="https://facebook.com{% if canonical_url %}{{ canonical_url | split: '?' | first | url_encode }}{% else %}{{ shop.url | url_encode }}{% endif %}" target="_blank" rel="noopener">
                      <svg width="20px" height="20px" viewBox="-5 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>facebook [#176]</title> <desc>Created with Sketch.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Dribbble-Light-Preview" transform="translate(-385.000000, -7399.000000)" fill="#fff"> <g id="icons" transform="translate(56.000000, 160.000000)"> <path d="M335.821282,7259 L335.821282,7250 L338.553693,7250 L339,7246 L335.821282,7246 L335.821282,7244.052 C335.821282,7243.022 335.847593,7242 337.286884,7242 L338.744689,7242 L338.744689,7239.14 C338.744689,7239.097 337.492497,7239 336.225687,7239 C333.580004,7239 331.923407,7240.657 331.923407,7243.7 L331.923407,7246 L329,7246 L329,7250 L331.923407,7250 L331.923407,7259 L335.821282,7259 Z" id="facebook-[#176]"> </path> </g> </g> </g> </g></svg>
                    </a>
                  

                  {% if block.settings.email_url %}
                    <a href="{{ block.settings.email_url }}">
                      <svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#fff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M21 8L17.4392 9.97822C15.454 11.0811 14.4614 11.6326 13.4102 11.8488C12.4798 12.0401 11.5202 12.0401 10.5898 11.8488C9.53864 11.6326 8.54603 11.0811 6.5608 9.97822L3 8M6.2 19H17.8C18.9201 19 19.4802 19 19.908 18.782C20.2843 18.5903 20.5903 18.2843 20.782 17.908C21 17.4802 21 16.9201 21 15.8V8.2C21 7.0799 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V15.8C3 16.9201 3 17.4802 3.21799 17.908C3.40973 18.2843 3.71569 18.5903 4.09202 18.782C4.51984 19 5.07989 19 6.2 19Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>                    
                    </a>
                  {% endif %}

                </div>
              </div>

            </div>
        {% endcase %}


    {% endfor %}

    </div>

  </div>

</section>

{% style %}

.cwgp-resizable-cards-grid{
  display:flex;
  flex-wrap:wrap;
  gap:20px;
}

.cwgp-card{
  padding:20px;
  box-sizing:border-box;
  border-radius:8px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  transition: all 0.25s ease;
}

.cwgp-card:hover{
  transform: translateY(-4px);
}

.cwgp-card-heading{
  margin-bottom:10px;
}

.cwgp-card-description{
  margin:0;
}

.cwgp-card-description p,
.cwgp-card-description span,
.cwgp-card-description h1,
.cwgp-card-description h2,
.cwgp-card-description h3,
.cwgp-card-description h4,
.cwgp-card-description h5,
.cwgp-card-description h6,
.cwgp-card-description strong,
.cwgp-text-description p,
.cwgp-text-description span,
.cwgp-text-description h1,
.cwgp-text-description h2,
.cwgp-text-description h3,
.cwgp-text-description h4,
.cwgp-text-description h5,
.cwgp-text-description h6,
.cwgp-text-description strong,
{
  font-size: inherit;
}

.cwgp-card-inner{
  display:flex;
  align-items:center;
  gap:16px;
}

.cwgp-card-icon img{
  display:block;
}

.cwgp-card-content{
  flex:1;
}

.cwgp-text-column{
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.cwgp-text-heading{
  margin-bottom:12px;
  line-height: normal;
}

.cwgp-text-description p{
  margin:0;
}

.parent-link-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cwgp-socials-list {
  display: flex;
  padding:20px;
  border-radius:24px;
  align-items: center;
  gap: 20px;
}

.cwgp-link-list{
  padding:20px;
  border-radius:24px;
}

.cwgp-link-list-title{
  margin-bottom:0;
}

.cwgp-links{
  list-style:none;
  padding:0;
  margin:0;
}

.cwgp-links li{
  margin-bottom:8px;
}

.cwgp-links a{
  text-decoration:none;
  transition: opacity .2s;
}

.cwgp-links a:hover{
  opacity:.7;
}

.icons-list {
  display: flex;
  align-items: center;
  gap: 18px;
}

/* MOBILE */
@media (max-width: 767px) {

  .hide-mobile{
    display:none;
  }

  .cwgp-resizable-cards-grid{
    flex-direction:column !important;
  }

  .cwgp-card{
    width:100% !important;
  }

  .cwgp-socials-list {
    justify-content: space-around;
  }

  .parent-link-list {
    gap: 10px;
  }
}

/* DESKTOP */
@media (min-width:768px){
  .hide-desktop{
    display:none;
  }
}

{% endstyle %}

{% schema %}
{
  "name": "CWGP - Resizable Card",
  "settings": [
    {
        "type": "header",
        "content": "Section Layout"
    },
    {
    "type": "select",
    "id": "cards_direction",
    "label": "Cards Direction",
    "default": "row",
    "options": [
        {
        "value": "row",
        "label": "Horizontal"
        },
        {
        "value": "column",
        "label": "Vertical"
        }
    ]
    },
    {
        "type": "color",
        "id": "section_bg_color",
        "label": "Section BG color",
        "default": "#f7f7f7"
    },
    {
        "type": "range",
        "id": "section_max_width",
        "label": "Section Max Width (px)",
        "min": 400,
        "max": 1600,
        "step": 20,
        "unit": "px",
        "default": 1440
    },
    {
        "type": "header",
        "content": "Section Padding"
    },
    {
        "type": "range",
        "id": "padding-block-start",
        "label": "Top padding",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0
    },
    {
        "type": "range",
        "id": "padding-block-end",
        "label": "Bottom padding",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0
    },
    {
        "type": "range",
        "id": "padding-block-left",
        "label": "Left padding",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0
    },
    {
        "type": "range",
        "id": "padding-block-right",
        "label": "Right padding",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 0
    },
    {
        "type": "header",
        "content": "Device Visibility"
    },
    {
        "type": "checkbox",
        "id": "show_mobile",
        "label": "Show Mobile",
        "default": true
    },
    {
        "type": "checkbox",
        "id": "show_desktop",
        "label": "Show Desktop",
        "default": true
    }
  ],
  "blocks": [
    {
        "type": "card",
        "name": "Card",
        "settings": [
        {
            "type": "select",
            "id": "card_direction",
            "label": "Card Layout Direction",
            "default": "column",
            "options": [
                {
                "value": "row",
                "label": "Horizontal (Icon Left)"
                },
                {
                "value": "column",
                "label": "Vertical (Icon Top)"
                }
            ]
        },
        {
        "type": "image_picker",
        "id": "card_icon",
        "label": "Icon Image"
        },
        {
        "type": "range",
        "id": "icon_width",
        "label": "Icon Width",
        "min": 20,
        "max": 200,
        "step": 5,
        "unit": "px",
        "default": 60
        },
        {
            "type": "range",
            "id": "card_width",
            "label": "Card Width (%)",
            "min": 10,
            "max": 100,
            "step": 5,
            "default": 50
        },
        {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "default": "left",
        "options": [
            {
            "value": "left",
            "label": "Left"
            },
            {
            "value": "center",
            "label": "Center"
            },
            {
            "value": "right",
            "label": "Right"
            }
        ]
        },
        {
            "type": "color",
            "id": "card_bg_color",
            "label": "Card Background",
            "default": "#ffffff"
        },
        {
            "type": "text",
            "id": "card_heading",
            "label": "Card Heading",
            "default": "Card Heading"
        },
        {
            "type": "range",
            "id": "heading_size",
            "label": "Heading Font Size",
            "min": 12,
            "max": 60,
            "step": 1,
            "unit": "px",
            "default": 24
        },
        {
        "type": "select",
        "id": "card_heading_font_weight",
        "label": "Card Heading Weight",
        "default": "400",
        "options": [
            {
            "value": "100",
            "label": "100"
            },
            {
            "value": "200",
            "label": "200"
            },
            {
            "value": "300",
            "label": "300"
            },
            {
            "value": "400",
            "label": "400"
            },
            {
            "value": "500",
            "label": "500"
            },
            {
            "value": "600",
            "label": "600"
            },
            {
            "value": "700",
            "label": "700"
            },
            {
            "value": "800",
            "label": "800"
            },
            {
            "value": "900",
            "label": "900"
            },
        ]
        },
        {
            "type": "color",
            "id": "heading_color",
            "label": "Heading Color",
            "default": "#000000"
        },
        {
            "type": "textarea",
            "id": "card_description",
            "label": "Card Description",
            "default": "<p>Write your description here.</p>"
        },
        {
            "type": "range",
            "id": "description_size",
            "label": "Description Font Size",
            "min": 10,
            "max": 40,
            "step": 1,
            "unit": "px",
            "default": 16
        },
        {
        "type": "select",
        "id": "card_description_font_weight",
        "label": "Card Description Weight",
        "default": "400",
        "options": [
            {
            "value": "100",
            "label": "100"
            },
            {
            "value": "200",
            "label": "200"
            },
            {
            "value": "300",
            "label": "300"
            },
            {
            "value": "400",
            "label": "400"
            },
            {
            "value": "500",
            "label": "500"
            },
            {
            "value": "600",
            "label": "600"
            },
            {
            "value": "700",
            "label": "700"
            },
            {
            "value": "800",
            "label": "800"
            },
            {
            "value": "900",
            "label": "900"
            },
        ]
        },
        {
            "type": "color",
            "id": "description_color",
            "label": "Description Color",
            "default": "#333333"
        },
        {
        "type": "url",
        "id": "card_link",
        "label": "Card Link"
        }
        ]
    },
    {
        "type": "text_column",
        "name": "Text Column",
        "settings": [
            {
            "type": "range",
            "id": "column_width",
            "label": "Column Width (%)",
            "min": 10,
            "max": 100,
            "step": 5,
            "default": 50
            },
            {
            "type": "richtext",
            "id": "heading",
            "label": "Heading",
            "default": "<h2>Section Heading</h2>"
            },
            {
            "type": "select",
            "id": "text_column_heading_font_weight",
            "label": "Heading Weight",
            "default": "400",
            "options": [
                {
                "value": "100",
                "label": "100"
                },
                {
                "value": "200",
                "label": "200"
                },
                {
                "value": "300",
                "label": "300"
                },
                {
                "value": "400",
                "label": "400"
                },
                {
                "value": "500",
                "label": "500"
                },
                {
                "value": "600",
                "label": "600"
                },
                {
                "value": "700",
                "label": "700"
                },
                {
                "value": "800",
                "label": "800"
                },
                {
                "value": "900",
                "label": "900"
                },
            ]
            },
            {
            "type": "range",
            "id": "heading_size",
            "label": "Heading Font Size",
            "min": 16,
            "max": 80,
            "step": 1,
            "unit": "px",
            "default": 36
            },
            {
            "type": "color",
            "id": "heading_color",
            "label": "Heading Color",
            "default": "#000000"
            },
            {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Write your description here.</p>"
            },
            {
            "type": "select",
            "id": "text_column_description_font_weight",
            "label": "Description Weight",
            "default": "400",
            "options": [
                {
                "value": "100",
                "label": "100"
                },
                {
                "value": "200",
                "label": "200"
                },
                {
                "value": "300",
                "label": "300"
                },
                {
                "value": "400",
                "label": "400"
                },
                {
                "value": "500",
                "label": "500"
                },
                {
                "value": "600",
                "label": "600"
                },
                {
                "value": "700",
                "label": "700"
                },
                {
                "value": "800",
                "label": "800"
                },
                {
                "value": "900",
                "label": "900"
                },
            ]
            },
            {
            "type": "range",
            "id": "description_size",
            "label": "Description Font Size",
            "min": 12,
            "max": 32,
            "step": 1,
            "unit": "px",
            "default": 16
            },
            {
            "type": "color",
            "id": "description_color",
            "label": "Description Color",
            "default": "#333333"
            }
        ]
    },
    {
    "type": "link_list",
    "name": "Link Lists",
    "settings": [

        {
        "type": "range",
        "id": "column_width",
        "label": "Column Width (%)",
        "min": 10,
        "max": 100,
        "step": 5,
        "default": 30
        },

        {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#ffffff"
        },

        {
        "type": "text",
        "id": "title",
        "label": "Block Title",
        "default": "Quick Links"
        },

        {
        "type": "range",
        "id": "title_size",
        "label": "Title Font Size",
        "min": 12,
        "max": 60,
        "step": 1,
        "unit": "px",
        "default": 22
        },

        {
        "type": "color",
        "id": "title_color",
        "label": "Title Color",
        "default": "#000000"
        },

        {
        "type": "range",
        "id": "link_size",
        "label": "Link Font Size",
        "min": 10,
        "max": 32,
        "step": 1,
        "unit": "px",
        "default": 16
        },

        {
        "type": "color",
        "id": "link_color",
        "label": "Link Color",
        "default": "#333333"
        },

        { "type": "text", "id": "link_text_1", "label": "Link Text 1" },
        { "type": "url", "id": "link_1", "label": "Link 1" },

        { "type": "text", "id": "link_text_2", "label": "Link Text 2" },
        { "type": "url", "id": "link_2", "label": "Link 2" },

        { "type": "text", "id": "link_text_3", "label": "Link Text 3" },
        { "type": "url", "id": "link_3", "label": "Link 3" },

        { "type": "text", "id": "link_text_4", "label": "Link Text 4" },
        { "type": "url", "id": "link_4", "label": "Link 4" },

        { "type": "text", "id": "link_text_5", "label": "Link Text 5" },
        { "type": "url", "id": "link_5", "label": "Link 5" },

        {
          "type": "header",
          "content": "Social Icons List"
        },

        {
          "type": "color",
          "id": "social_bg_color",
          "label": "Social BG Color",
          "default": "#090838"
        },
        { 
          "type": "text", 
          "id": "social_text", 
          "label": "Social Text" 
        },
        {
            "type": "select",
            "id": "social_text_font_weight",
            "label": "Text Weight",
            "default": "400",
            "options": [
                {
                "value": "100",
                "label": "100"
                },
                {
                "value": "200",
                "label": "200"
                },
                {
                "value": "300",
                "label": "300"
                },
                {
                "value": "400",
                "label": "400"
                },
                {
                "value": "500",
                "label": "500"
                },
                {
                "value": "600",
                "label": "600"
                },
                {
                "value": "700",
                "label": "700"
                },
                {
                "value": "800",
                "label": "800"
                },
                {
                "value": "900",
                "label": "900"
                },
            ]
            },
            {
            "type": "range",
            "id": "text_size",
            "label": "Social Text Size",
            "min": 12,
            "max": 32,
            "step": 1,
            "unit": "px",
            "default": 16
            },
            {
            "type": "color",
            "id": "text_color",
            "label": "Social Text Color",
            "default": "#fff"
            },

        { "type": "url", "id": "linkedIn_url", "label": "LinkedIn URL" },
        { "type": "url", "id": "twitter_url", "label": "Twitter URL" },
        { "type": "url", "id": "facebook_url", "label": "Facebook URL" },
        { "type": "url", "id": "email_url", "label": "Email" },
        
    ]
    }
    ],
  "presets": [
    {
      "name": "CWGP - Resizable Card",
      "blocks": [

      ]
    }
  ]
}
{% endschema %}

